

.topo{
    display:flex;
    justify-content: space-between;
    width:80%;
    margin: 0 auto;
}
main{
    width:80%;
    margin: 0 auto; 
}
.input-pesquisa input{
    width:98%;
    height:50px ;
    margin: 0 auto; 
}
input[type='search'] {
    background-image: url('https://image.flaticon.com/icons/png/512/49/49116.png') ;    
    background-position: right;
    background-size: contain;    
    background-repeat: no-repeat;
}
.input-pesquisa ::placeholder{

    font-size: 20px;
    padding-left: 20px;
}

.carros{
    display:flex;          
    flex-wrap: wrap;
    flex-direction: row;

}
.carro{
    padding: 20px 20px;
}